@import 'tailwindcss';
@import 'uniwind';

@layer theme {
  :root {
    /* ============ DARK THEME ============ */
    @variant dark {
      /* ============ BACKGROUND COLOR ============ */
      --color-background: oklch(18% 0% 68deg);
      --color-surface: oklch(27% 1% 29deg);

      /* ============ TEXT COLOR ============ */
      --color-text: oklch(100% 0% 68deg);
      --color-text-muted: oklch(68% 4% 256deg);
    }

    @variant light {
      /* ============ BACKGROUND COLOR ============ */
      --color-background: oklch(96% 2% 287deg);
      --color-surface: oklch(100% 0% 90deg);

      /* ============ TEXT COLOR ============ */
      --color-text: oklch(0% 0% 0deg);
      --color-text-muted: oklch(53% 0% 68deg);
    }
  }
}

@theme {
  /* ============ OVERRIDE DEFAULT BREAKPOINTS ============ */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  /* ============ CUSTOM BREAKPOINTS ============ */
  --breakpoint-xs: 480px; /* Extra small devices */
  --breakpoint-3xl: 1920px; /* Ultra-wide screens */
  --breakpoint-tablet: 820px; /* iPad-specific */

  /* ============ FONTS ============ */
  --font-righteous-regular: 'Righteous-Regular';
  --font-thin: 'Outfit-Thin';
  --font-extralight: 'Outfit-ExtraLight';
  --font-light: 'Outfit-Light';
  --font-regular: 'Outfit-Regular';
  --font-medium: 'Outfit-Medium';
  --font-semibold: 'Outfit-SemiBold';
  --font-bold: 'Outfit-Bold';
  --font-extrabold: 'Outfit-ExtraBold';
  --font-extralarge: 'Outfit-Black';
}

@utility card-shadow {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
